$main-color: #2fc2df;

@mixin tablet {
  @media (max-width: 695px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 500px) {
    @content;
  }
}

.auth-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;

  a {
    color: $main-color;
  }

  .site-description {
    text-align: center;
    max-width: 500px;
    width: 100%;

    .image {
      max-width: 340px;
      width: 100%;
      margin: 60px 0;
    }

    h1 {
      font-weight: bold;
      font-size: 36px;
      color: #333333;
      margin: 0 0 18px 0;
    }

    h6 {
      font-size: 16px;
      line-height: 19px;
      color: #999999;
    }

    @include tablet {
      display: none;
    }
  }

  .line {
    width: 2px;
    background: #dddddd;
    height: 440px;
    margin: auto 50px;

    @include tablet {
      display: none;
    }
  }

  .auth-model {
    margin: 50px 0 0 0;

    span {
      color: $main-color;
    }

    h2 {
      font-size: 30px;
      color: #333333;
      font-weight: bold;
    }

    h6 {
      font-size: 14px;
      line-height: 17px;
      color: #8d8d8d;
      margin: 10px 0 0 0;
    }

    h1 {
      font-weight: bold;
      font-size: 36px;
      color: #333333;
      margin: 25px 0;
    }

    h3 {
      font-size: 16px;
      line-height: 19px;
      color: #999999;
      text-align: center;
    }

    .forgot-password {
      margin: 10px 0 10px auto;
      font-size: 16px;
      color: #999999;
      text-align: end;
      display: block;
      max-width: max-content;
    }

    .auth-form {
      .auth-fields {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

        .input-field {
          width: 100%;

          input {
            width: 100%;
            margin: 5px 0 0 0;
            padding: 15px 20px;
            border: 1px solid #bdbdbd;
            border-radius: 2px;
          }
        }
      }

      h5 {
        margin: 20px 0;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
      }

      input[type="submit"] {
        background: $main-color;
        padding: 10px 30px;
        color: #fff;
        border-radius: 2px;
        border: 0;
        cursor: pointer;
      }
    }

    .or {
      display: flex;
      flex-direction: row;
      margin: 1.2rem 0;
      align-items: center;

      .bar {
        flex: auto;
        border: none;
        height: 1px;
        background: #aaa;
      }

      span {
        color: #ccc;
        padding: 0 0.8rem;
      }
    }

    .oAuth-btns {
      width: 100%;

      .firebaseui-container {
        width: 100%;
        max-width: 100% !important;

        .firebaseui-card-content {
          padding: 0;
          .firebaseui-idp-list {
            display: flex;
            justify-content: space-between;

            li:nth-child(1) {
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }
  }

  @include phone {
    padding: 20px;
  }
}

.signup-2 {
  max-width: 1200px;
  padding: 75px 50px;
  margin: 0 auto;

  h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
    margin: 0 0 35px 0;
  }

  .card {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 5px;

    .signup-2-form {
      padding: 50px;

      h2 {
        font-weight: bold;
        font-size: 24px;
        color: #333333;
        margin: 0 0 40px 0;
      }

      h4 {
        margin: 15px 0;
        font-size: 14px;
        color: #999999;
      }

      hr {
        margin: 35px 0;
      }

      .image-field {
        display: flex;
        margin: 40px 0 0 0;

        .image-container {
          width: 110px;
          height: 110px;

          #user-image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .btns {
          max-width: 120px;
          width: 100%;
          margin: 0 0 0 35px;
          align-self: center;

          h5 {
            font-size: 16px;
          }

          .upload {
            background: $main-color;
            text-align: center;
            padding: 10px 30px;
            color: #fff;
            cursor: pointer;
          }

          .red {
            text-align: center;
            margin: 10px 0;
            text-decoration-line: underline;
            color: #cc2d2d;
            cursor: pointer;
          }
        }

        .hidden {
          display: none;
        }
      }

      .bio-field {
        max-width: 700px;
        width: 100%;
      }

      @include phone {
        padding: 50px 25px;
      }
    }

    .submit-btns {
      display: flex;
      max-width: max-content;
      margin: 75px 0 0 auto;
      align-items: center;
      justify-items: end;

      h6 {
        a {
          font-size: 16px;
          line-height: 19px;
          text-decoration-line: underline;
          color: #333333;
          cursor: pointer;
          margin: 0 20px 0 0;
        }
      }

      input[type="submit"] {
        background: $main-color;
        border: 0;
        padding: 10px 40px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }

  @include tablet {
    padding: 25px 20px;
  }
}
